# Project Atlas Environment Template

POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DATABASE=project_atlas_dw
POSTGRES_USER=postgres
POSTGRES_PASSWORD=your_password_here

PROJECT_NAME=Project Atlas

ENVIRONMENT=development