# Python
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/

# Environment
.env
venv/
.venv/

# Mac
.DS_Store

# Logs
*.log

# Database
*.sqlite
*.db

# IDE
.vscode/
.idea/

# Generated Data
02_Data_Generation/**/output/*.csv
03_Data_Generation/output/*.csv

# Python cache
.pytest_cache/